html, body {
    background-color: #CAFBFC;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1 {
    margin: 0;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
.info{
	margin: 0 auto;
	padding: 0;
    text-align: left;

}

.tools{
	overflow: auto;
	margin-bottom: 10px;
}

.order_placed{
	display: inline-block;
	text-align: right;
	width: 25%;
}

.links{
	display: inline-block;
	text-align: left;
}

.links a{
	margin-right: 15px;
}

#holder {
    background-color: #7DE7F9;
    border-left: 2px solid #2AAEC5;
    border-right: 2px solid #2AAEC5;
    box-shadow: 3px 0 3px 1px #058298, -3px 0 3px 1px #058298;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    width: 60%;
}

#holder h1{
	margin-bottom: 10px;
    text-align: center;
}

#main{
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    width: 80%;
}

#header{
    height: 100px;
    width: 100%;
    text-align: left;
}

#body{
}

#footer{
    position: absolute;
    width: 100%;
    height: 100px;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
    font-style: italic;
    font-size: 14px;
}

.week_summary table {
    border: 2px solid #0D6C8B;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.week_summary th {
    background-color: #4AADBE;
    border: 1px solid #0D6C8B;
    padding: 0 3px;
    text-align: left;
}
.week_summary td {
    background-color: #81D3E1;
    border: 1px solid #0D6C8B;
    padding: 0 3px;
    text-align: left;
}
.week_summary img {
    padding-top: 3px;
}
#week_summary_name {
    font-style: italic;
    font-size: 14px;
}

.week_order{
    padding-top: 50px;
}
.week_order h3{
     text-align: left;
}
.week_order table {
    border: 2px solid #0D6C8B;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.week_order th {
    background-color: #4AADBE;
    border: 1px solid #0D6C8B;
    padding: 0 3px;
    text-align: left;
}
.week_order td {
    background-color: #81D3E1;
    border: 1px solid #0D6C8B;
    padding: 0 3px;
    text-align: left;
}

.date_number{
    font-style: italic;
    display: inline-block;
    text-align: left;
}

.date_name{
    /*width: 70px;*/
    display: inline-block;
    text-align: left;
}

.submit{
    padding-top: 10px;
    text-align: right;
}


