{% extends "base.html" %}
{% load custom_filters %}
{% load staticfiles %}

{% block title %}Route Presov-Kosice{% endblock %}

{% block content %}

<div class="info">
	<p>Z domu vyrážam o 6:30, v Prešove som o 6:45 a príchod do Košíc je približne o 7:15</p>
</div>

<div class="week_summary">
<table>
<tr>
	<th>Deň</th>
	<th>Voľné miesto</th>
	<th>Pasažieri</th>
</tr>
{% for r in routes %}
<tr>
	<td width="20%">{{ r.date|date:"j.n - l" }}</td>
	<td width="15%">
		{% for i in r.space|get_range %}
			{% if forloop.revcounter0 >= r.free_space%}
				<img src="{% static "person.png" %}" alt="free space">
			{% else %}
 				<img src="{% static "person-empty.png" %}" alt="free space">
			{% endif %}
		{% empty %}
			<img src="{% static "sleep.png" %}">
		{% endfor %}
	</td>
	<td width="65%">
		<span id="week_summary_name">{{ r.pasangers|join:", " }}</span>
	</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
