{% extends "person.html" %}

{% block order_table %}

<div class="week_order">
<h3>{{ traveler }}</h3>
<form name="order" action="/home/{{ user_id }}/" method="get">
<table>
{% for w in weeks %}
	<tr>
		<th>Tyždeň {{ w.number }}</th>
		<th>Idem</th>
		<th>Cesta späť</th>
	</tr>
	{% for t in w.tickets %}
	<tr>
		<td width="50%"><span class="date_name">{{ t.date|date:"l" }}</span> <span class="date_number">{{ t.date|date:"(j.n.)" }}</span></td>
		{% if t.enabled %}
			{% if t.bought %}
				<td width="25%"><input type="checkbox" name="day_{{ t.date|date:"w" }}" value="1" checked></td>
			{% else %}
				<td width="25%"><input type="checkbox" name="day_{{ t.date|date:"w" }}" value="1"></td>
			{% endif %}

			{% if t.back %}
				<td width="25%"><input type="checkbox" name="dayback_{{ t.date|date:"w" }}" value="1" checked></td>
			{% else %}
				<td width="25%"><input type="checkbox" name="dayback_{{ t.date|date:"w" }}" value="1"></td>
			{% endif %}
		{% else %}
			<td width="25%"></td>
			<td width="25%"></td>
		{% endif %}
	</tr>
	{% endfor %}
{% endfor %}
</table>
<div class="submit">
	<input type="hidden" name="week_number" value={{ week_number }} />
	<input type="hidden" name="year_number" value={{ year_number }} />
	<input type="submit" value="Uprav" />
</div>
</form>
</div>

{% endblock %}
