{% extends "person.html" %}


{% block order_table %}

<div class="info tools links">
	{% for m in months %}
	<a href="/summary/{{ user_id }}/{{ m.date|date:"n" }}">{{ m.date|date:"F" }}</a>
	{% endfor %}
</div>

<div class="week_summary">
	<table>
		<thead>
			<tr>
				<th colspan="2">{{ curr_month.date|date:"F" }}</th>
			</tr>
		</thead>
		<tbody>
		{% for route, is_return in routes %}
		<tr>
			<td>{{ route.date|date:"j.n - l" }}</td>
			<td>
				1
			{% if is_return %}
				+ 1
			{% endif %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
		<tfoot>
			<tr>
				<td><strong>Spolu</strong></td>
				<td><strong>{{ routes_sum }}</strong></td>
			</tr>
		</tfoot>
	</table>
</div>


{% endblock %}
