{% extends "base.html" %}

{% block title %}Week {{ week_number }}{% endblock %}

{% block content %}

<div class="info">
	<h3>{{ traveler }}</h3>
	<div class="tools">
		<div class="links">
			<a href="/">Domov</a>
			<a href="/summary/{{ user_id }}/">Prehľad</a>
		</div>
		<div class="order_placed">
			{% if order_placed == True %}
				Rezervované
			{% endif %}
		</div>
	</div>
</div>



<div class="week_order">

<form name="order" action="/week_order/{{ user_id }}/" method="get">
<table>
<tr>
	<th>Deň</th>
	<th>Idem</th>
</tr>
{% for t in tickets %}
<tr>
	<td><label>{{ t.date|date:"j.n - l" }}:</label></td>
	{% if t.bought %}
		<td><input type="checkbox" name="day_{{ t.date|date:"w" }}" value="1" checked></td>
	{% else %}
		<td><input type="checkbox" name="day_{{ t.date|date:"w" }}" value="1"></td>
	{% endif %}
</tr>
{% endfor %}
</table>
<div class="submit">
	<input type="hidden" name="week_number" value={{ week_number }} />
	<input type="hidden" name="year_number" value={{ year_number }} />
	<input type="submit" value="Rezervuj" />
</div>
</form>
</div>

{% endblock %}
